---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "我的博文";
---

<BaseLayout pageTitle={pageTitle}>
  <p>这是我的 Astro 学习笔记</p>
  <ul>
    {
      allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)
    }
    
  </ul>
  <p>在这里，我将分享我的学习 Astro 之旅。</p>
</BaseLayout>
